body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
  }
  .container {
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    color: #333;
  }
  p {
    margin: 5px 0;
  }
  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
  }